@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&family=Raleway:wght@400;600&family=Roboto:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

.nav-container {
  padding: 25px 0;
  background: #282828;
}

.nav-container .nav {
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .nav .logo {
  width: 20%;
  cursor: pointer;
}

.nav-container .nav .links {
  display: none;
}

.nav-container .nav .hamburger {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.nav-container .nav .hamburger .line {
  background: #ffffff;
  height: 2px;
  width: 25px;
}

.nav-container .nav .hamburger .line::before {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 2px;
  width: 25px;
  -webkit-transform: translateY(-0.4em);
          transform: translateY(-0.4em);
}

.nav-container .nav .hamburger .line::after {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 2px;
  width: 25px;
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
}

@media (min-width: 768px) {
  .nav-container {
    padding: 20px;
    background: none;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
  }
  .nav-container .nav {
    max-width: 900px;
  }
  .nav-container .nav .logo {
    width: 15%;
    margin-right: 20em;
  }
  .nav-container .nav .hamburger {
    width: 20px;
    padding: 20px;
  }
  .nav-container .nav .hamburger .line {
    height: 3px;
    width: 30px;
  }
  .nav-container .nav .hamburger .line::before {
    height: 3px;
    width: 30px;
    -webkit-transform: translateY(-0.45em);
            transform: translateY(-0.45em);
  }
  .nav-container .nav .hamburger .line::after {
    height: 3px;
    width: 30px;
    -webkit-transform: translateY(0.45em);
            transform: translateY(0.45em);
  }
}

@media (min-width: 1300px) {
  .nav-container .nav {
    max-width: 1440px;
    padding: 20px;
  }
  .nav-container .nav .logo {
    width: 11%;
    margin-right: 40em;
  }
  .nav-container .nav .links {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container .nav .links .link {
    cursor: pointer;
    color: #ffffff;
    list-style: none;
    padding: 0 15px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .nav-container .nav .links .link:hover {
    color: rgba(255, 255, 255, 0.74);
  }
  .nav-container .nav .hamburger {
    display: none;
  }
}

.hero-container {
  position: relative;
  background-image: url("/img/sven-mieke-jO6vBWX9h9Y-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container .overlay {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  padding: 110px 0;
}

.hero-container .hero {
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.hero-container .hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container .hero .text .title {
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
}

.hero-container .hero .text .description {
  text-align: center;
  color: rgba(255, 255, 255, 0.671);
  margin: 25px 5%;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
}

.hero-container .hero .text .btn {
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f66161;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 5px 0px;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 100px;
  border: 1px solid #f66161;
}

.hero-container .hero .text .btn:hover {
  background: #f66161de;
}

.hero-container .hero i {
  color: #f66161;
  font-size: 60px;
  display: none;
}

@media (min-width: 768px) {
  .hero-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .hero-container .hero .text .title {
    margin-top: 80px;
    font-size: 42px;
  }
  .hero-container .hero .text .description {
    font-size: 16px;
    margin: 30px 80px;
  }
  .hero-container .hero .text .btn {
    padding: 10px 40px;
    width: 250px;
  }
}

@media (min-width: 1300px) {
  .hero-container .hero {
    max-width: 1300px;
    min-height: 73.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero-container .hero .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-container .hero .text .title {
    text-align: left;
    margin-top: 80px;
    font-size: 60px;
    -webkit-animation: fadeInDown 1.5s;
            animation: fadeInDown 1.5s;
  }
  .hero-container .hero .text .description {
    margin-right: 200px;
    font-size: 16px;
    text-align: left;
    line-height: 2;
    color: rgba(255, 255, 255, 0.507);
    width: 500px;
    -webkit-animation: fadeLeft 1s;
            animation: fadeLeft 1s;
  }
  .hero-container .hero .text .btn {
    padding: 10px 40px;
    width: 250px;
    font-size: 24px;
    margin-right: 30rem;
    margin-top: 30px;
    -webkit-animation: fadeLeft 1.7s;
            animation: fadeLeft 1.7s;
  }
  .hero-container .hero i {
    position: absolute;
    display: block;
    font-size: 6em;
    cursor: pointer;
    -webkit-animation: fade 1.2s;
            animation: fade 1.2s;
  }
  .hero-container .hero i:hover {
    color: #f3f1f1;
  }
}

@media (min-width: 1600px) {
  .hero-container .hero .text {
    -webkit-transform: translateX(-5em);
            transform: translateX(-5em);
  }
  .hero-container .hero .text .title {
    font-size: 75px;
    margin-right: 42rem;
  }
  .hero-container .hero .text .description {
    margin-right: 46rem;
  }
  .hero-container .hero .text .btn {
    margin-right: 58rem;
  }
  .hero-container .hero i {
    -webkit-transform: translateX(-2.5em);
            transform: translateX(-2.5em);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.8em);
            transform: translateX(-1.8em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-2.5em);
            transform: translateX(-2.5em);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.8em);
            transform: translateX(-1.8em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-2.5em);
            transform: translateX(-2.5em);
  }
}

.offers-container {
  background: #f8f8f8;
  padding: 20px;
}

.offers-container .offers {
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-container .offers .text {
  margin-top: 40px;
  text-align: center;
}

.offers-container .offers .text .title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #f66161;
}

.offers-container .offers .text .title strong {
  color: rgba(0, 0, 0, 0.589);
}

.offers-container .offers .text .description {
  color: rgba(0, 0, 0, 0.479);
  margin: 20px 5%;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
}

.offers-container .offers .row {
  width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
  margin-bottom: 50px;
}

.offers-container .offers .row .group {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.offers-container .offers .row .circle {
  height: 15px;
  width: 15px;
  padding: 25px;
  background: #ffffff;
  border-radius: 50%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.offers-container .offers .row .circle i {
  color: #f66161;
}

@media (min-width: 768px) {
  .offers-container {
    margin-top: 600px;
  }
  .offers-container .offers .text .title {
    font-size: 50px;
  }
  .offers-container .offers .text .description {
    font-size: 16px;
    margin: 20px 50px;
  }
  .offers-container .offers .row {
    width: 520px;
  }
  .offers-container .offers .row .group {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.514);
    font-weight: 700;
  }
  .offers-container .offers .row .circle {
    height: 28px;
    width: 28px;
    padding: 30px;
  }
  .offers-container .offers .row i {
    font-size: 24px;
  }
}

@media (min-width: 1300px) {
  .offers-container {
    padding: 70px;
    margin-top: 49em;
  }
  .offers-container .offers .text .title {
    font-size: 60px;
  }
  .offers-container .offers .text .description {
    margin: 20px 50px;
  }
  .offers-container .offers .row {
    width: 700px;
  }
}

.about-container {
  padding: 20px;
}

.about-container .about {
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about .right {
  display: none;
}

.about-container .about .text {
  margin-top: 30px;
  text-align: center;
}

.about-container .about .text .title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #f66161;
}

.about-container .about .text .title strong {
  color: rgba(0, 0, 0, 0.589);
}

.about-container .about .text .description {
  color: rgba(0, 0, 0, 0.479);
  margin: 20px 5%;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .about-container {
    position: relative;
    overflow: hidden;
  }
  .about-container .about {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-container .about .right {
    display: block;
  }
  .about-container .about .right .img-1 {
    position: absolute;
    width: 15%;
    -webkit-transform: translateX(-16em) translateY(-10em);
            transform: translateX(-16em) translateY(-10em);
    max-width: 130px;
  }
  .about-container .about .right .img-2 {
    position: absolute;
    width: 15%;
    -webkit-transform: translateX(-10em) translateY(-1.9em);
            transform: translateX(-10em) translateY(-1.9em);
    max-width: 130px;
  }
  .about-container .about .right .img-3 {
    display: none;
  }
  .about-container .about .text {
    text-align: left;
    padding: 20px;
  }
  .about-container .about .text .title {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
    font-size: 50px;
  }
  .about-container .about .text .description {
    font-size: 16px;
    padding: 0px 130px;
    -webkit-transform: translateX(-7em);
            transform: translateX(-7em);
  }
}

@media (min-width: 1300px) {
  .about-container {
    padding: 90px 0px;
  }
  .about-container .about {
    max-width: 1440px;
  }
  .about-container .about .right {
    display: block;
    padding: 40px;
  }
  .about-container .about .right .img-1 {
    width: 12%;
    -webkit-transform: translateX(-28em) translateY(-15em);
            transform: translateX(-28em) translateY(-15em);
    max-width: 165px;
  }
  .about-container .about .right .img-2 {
    width: 12%;
    -webkit-transform: translateX(-28em) translateY(1.2em);
            transform: translateX(-28em) translateY(1.2em);
    max-width: 165px;
  }
  .about-container .about .right .img-3 {
    position: absolute;
    display: block;
    width: 12%;
    -webkit-transform: translateX(-16em) translateY(-7em);
            transform: translateX(-16em) translateY(-7em);
    max-width: 165px;
  }
  .about-container .about .text {
    text-align: left;
    margin-right: 20em;
  }
  .about-container .about .text .title {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
    font-size: 60px;
  }
  .about-container .about .text .description {
    font-size: 20px;
    padding: 0px 130px;
    -webkit-transform: translateX(-6em);
            transform: translateX(-6em);
  }
}

.plan-container {
  background: #f8f8f8;
  padding: 20px;
}

.plan-container .plan {
  margin: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-container .plan .text .title {
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #f66161;
}

.plan-container .plan .text .title strong {
  color: rgba(0, 0, 0, 0.589);
}

.plan-container .plan .card-container .card {
  margin: 10% 0;
  text-align: center;
  padding: 10px 40px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.plan-container .plan .card-container .card .title {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.plan-container .plan .card-container .card .line {
  height: 2px;
  background: #f66161;
  margin: 10% 0;
}

.plan-container .plan .card-container .card .description {
  line-height: 2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.plan-container .plan .card-container .card .price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.plan-container .plan .card-container .card .btn {
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f66161;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 5px 0px;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 30px;
  border: 1px solid #f66161;
}

.plan-container .plan .card-container .card .btn:hover {
  background: #fff;
  color: #000;
}

@media (min-width: 768px) {
  .plan-container .plan {
    max-width: 900px;
  }
  .plan-container .plan .text .title {
    font-size: 50px;
  }
  .plan-container .plan .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin: 5%;
  }
  .plan-container .plan .card-container .card.starter .price {
    margin-top: 32px;
  }
  .plan-container .plan .card-container .card.pro {
    padding: 20px;
  }
  .plan-container .plan .card-container .card {
    padding: 5px;
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plan-container .plan .card-container .card .line {
    height: 2px;
    width: 200px;
  }
}

@media (min-width: 1300px) {
  .plan-container .plan {
    max-width: 1440px;
  }
  .plan-container .plan .text .title {
    font-size: 60px;
  }
  .plan-container .plan .card-container {
    height: 600px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "starter pro basic";
  }
  .plan-container .plan .card-container .card {
    -webkit-box-shadow: 0 8px 5.3px rgba(0, 0, 0, 0.081), 0 26.8px 17.9px rgba(0, 0, 0, 0.119), 0 120px 80px rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 5.3px rgba(0, 0, 0, 0.081), 0 26.8px 17.9px rgba(0, 0, 0, 0.119), 0 120px 80px rgba(0, 0, 0, 0.2);
  }
  .plan-container .plan .card-container .card.starter {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: starter;
    padding: 10px;
    height: 425px;
    -webkit-transform: translateY(2.5em) translateX(1em);
            transform: translateY(2.5em) translateX(1em);
  }
  .plan-container .plan .card-container .card.starter .btn {
    background: #fff;
    color: #282828;
  }
  .plan-container .plan .card-container .card.starter .btn:hover {
    background: #f66161;
    color: #fff;
  }
  .plan-container .plan .card-container .card.pro {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: pro;
    padding: 30px;
    height: 450px;
  }
  .plan-container .plan .card-container .card.pro .price {
    margin-top: 30px;
  }
  .plan-container .plan .card-container .card.basic {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: basic;
    height: 440px;
    -webkit-transform: translateY(2em) translateX(-1em);
            transform: translateY(2em) translateX(-1em);
  }
  .plan-container .plan .card-container .card.basic .price {
    margin-top: 10px;
  }
  .plan-container .plan .card-container .card.basic .btn {
    background: #fff;
    color: #282828;
  }
  .plan-container .plan .card-container .card.basic .btn:hover {
    background: #f66161;
    color: #fff;
  }
}

.footer-container {
  background: #282828;
}

.footer-container .footer {
  padding: 20px 0;
  margin: auto;
  max-width: 600px;
}

.footer-container .footer .logo-white {
  padding: 20px;
  width: 30%;
  margin-right: autos;
  margin-top: 30px;
}

.footer-container .footer .row {
  margin-top: -20px;
  padding: 0px 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .footer .row .info {
  margin-left: 5px;
  padding: 20px;
}

.footer-container .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.footer-container .footer .social-media .twitter,
.footer-container .footer .social-media .instagram,
.footer-container .footer .social-media .facebook {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  width: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
}

.footer-container .footer .social-media .twitter:hover,
.footer-container .footer .social-media .instagram:hover,
.footer-container .footer .social-media .facebook:hover {
  color: #339af0;
  border-radius: 50%;
  background: #fff;
}

.footer-container .footer .copy {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
}

.footer-container .footer .list {
  margin-top: 50px;
  list-style: none;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-container .footer .list li {
  margin: 20px 0;
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
  cursor: pointer;
}

.footer-container .footer .list li:hover {
  color: rgba(255, 255, 255, 0.678);
}

@media (min-width: 768px) {
  .footer-container .footer {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container .footer .logo-white {
    width: 50%;
  }
  .footer-container .footer .row {
    margin-left: 5px;
  }
  .footer-container .footer .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-container .footer .list li {
    padding: 0 10px;
    font-size: 20px;
  }
  .footer-container .footer .copy {
    margin-top: 60px;
  }
}

@media (min-width: 1300px) {
  .footer-container .footer {
    padding: 0px;
    max-width: 1440px;
  }
  .footer-container .footer .list {
    margin: 30px 10rem 0 10rem;
  }
  .footer-container .footer .list li {
    font-size: 24px;
  }
  .footer-container .footer .social-media {
    margin-top: 35px;
  }
  .footer-container .footer .row .info {
    font-size: 16px;
  }
  .footer-container .footer .copy {
    font-size: 16px;
  }
}

.sidebar-bg {
  background: #282828;
  position: fixed;
  height: 100vh;
  width: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  z-index: 200;
}

.sidebar-bg.openSidebar {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.sidebar {
  background: #282828;
  height: 100%;
}

.sidebar a {
  text-decoration: none;
  font-size: 26px;
  color: #eeeeee;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}

.sidebar a:hover {
  color: #f1f1f1a4;
}

.sidebar .logo {
  width: 20%;
  -webkit-transform: translateX(1.8em) translateY(2em);
          transform: translateX(1.8em) translateY(2em);
  margin: 30px 0;
}

.sidebar .close {
  font-size: 30px;
  color: #f3f3f3;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 200;
}

@media (min-width: 700px) {
  .sidebar a {
    font-size: 32px;
  }
  .sidebar .logo {
    width: 18%;
    -webkit-transform: translateX(4em) translateY(2em);
            transform: translateX(4em) translateY(2em);
    margin: 30px 0;
  }
}

@media (min-width: 900px) {
  .sidebar a {
    font-size: 32px;
  }
  .sidebar .logo {
    width: 16%;
    -webkit-transform: translateX(4.5em) translateY(2em);
            transform: translateX(4.5em) translateY(2em);
  }
}

@media (min-width: 1100px) {
  .sidebar a {
    font-size: 32px;
  }
  .sidebar .logo {
    width: 12%;
    -webkit-transform: translateX(4em) translateY(2em);
            transform: translateX(4em) translateY(2em);
    margin: 30px 0;
  }
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.815);
  height: 100vh;
  z-index: 200;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.modal-bg .modal {
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  background: white;
  -webkit-animation: unfoldOut 0.5s;
          animation: unfoldOut 0.5s;
}

.modal-bg.openModal {
  visibility: visible;
  opacity: 1;
  -webkit-animation: unfoldIn 0.5s;
          animation: unfoldIn 0.5s;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}
/*# sourceMappingURL=main.css.map */