@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&family=Raleway:wght@400;600&family=Roboto:wght@300&display=swap");

// Primary color

$primary: #f66161;
$text-color: #ffffff;
$lightBlack: rgba(0, 0, 0, 0.57);
$background-color: #f8f8f8;
$black: #282828;

$overlay: rgba(0, 0, 0, 0.85);

//Fonts
$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-maven: "Maven Pro", sans-serif;
//Font size

$font-headers: 60px;
$font-paraghaph: 20px;
$font-small: 12px;

//font weigh
$semiBold: 600;
$regular: 400;
$bold: 700;
