.footer-container {
  background: #282828;
  .footer {
    padding: 20px 0;
    margin: auto;
    max-width: 600px;

    .logo-white {
      padding: 20px;
      width: 30%;
      margin-right: autos;
      margin-top: 30px;
    }
    .row {
      margin-top: -20px;
      padding: 0px 20px;
      color: #fff;
      font-family: $font-roboto;
      font-size: 14px;
      display: flex;
      align-items: center;

      .info {
        margin-left: 5px;
        padding: 20px;
      }
    }

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 30px;

      .twitter,
      .instagram,
      .facebook {
        padding: 10px;
        border: 1px solid white;
        cursor: pointer;
        width: 20px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        margin: 5px;
      }

      .twitter:hover,
      .instagram:hover,
      .facebook:hover {
        color: #339af0;
        border-radius: 50%;
        background: #fff;
      }
    }

    .copy {
      text-align: center;
      color: #fff;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 20px;
    }

    .list {
      margin-top: 50px;
      list-style: none;
      font-size: 16px;
      color: #fff;
      font-family: $font-roboto;

      li {
        margin: 20px 0;
        transform: translateX(-1em);
        cursor: pointer;
      }
      li:hover {
        color: rgba(255, 255, 255, 0.678);
      }
    }
  }
}
@media (min-width: 768px) {
  .footer-container {
    .footer {
      max-width: 900px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .logo-white {
        width: 50%;
      }
      .row {
        margin-left: 5px;
      }
      .list {
        display: flex;
        // justify-content: space-around;

        li {
          padding: 0 10px;
          font-size: 20px;
        }
      }
      .copy {
        margin-top: 60px;
      }
    }
  }
}
@media (min-width: 1300px) {
  .footer-container {
    .footer {
      padding: 0px;
      max-width: 1440px;
      .list {
        margin: 30px 10rem 0 10rem;
        li {
          font-size: 24px;
        }
      }
      .social-media {
        margin-top: 35px;
      }
      .row {
        .info {
          font-size: 16px;
        }
      }
      .copy {
        font-size: 16px;
      }
    }
  }
}
