.sidebar-bg {
  background: $black;
  position: fixed;
  height: 100vh;
  width: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: width 0.5s;
  z-index: 200;
}
.sidebar-bg.openSidebar {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.sidebar {
  background: #282828;
  height: 100%;

  a {
    text-decoration: none;
    font-size: 26px;
    color: #eeeeee;
    padding: 30px;
    display: flex;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-roboto;
    margin-top: 100px;
  }
  a:hover {
    color: #f1f1f1a4;
  }
  .logo {
    width: 20%;
    transform: translateX(1.8em) translateY(2em);
    margin: 30px 0;
  }
  .close {
    font-size: 30px;
    color: #f3f3f3;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 200;
  }
}

@media (min-width: 700px) {
  .sidebar {
    a {
      font-size: 32px;
    }

    .logo {
      width: 18%;
      transform: translateX(4em) translateY(2em);
      margin: 30px 0;
    }
  }
}
@media (min-width: 900px) {
  .sidebar {
    a {
      font-size: 32px;
    }

    .logo {
      width: 16%;
      transform: translateX(4.5em) translateY(2em);
    }
  }
}
@media (min-width: 1100px) {
  .sidebar {
    a {
      font-size: 32px;
    }

    .logo {
      width: 12%;
      transform: translateX(4em) translateY(2em);
      margin: 30px 0;
    }
  }
}
